.header {
  display: flex;
  gap: 16px;
}
.header h1 {
  margin: 0;
  font-size: 1em;
}
.header h1 {
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 10px;
}
.nav a {
  text-decoration: none;
}
.nav a.open {
  text-decoration: underline;
  font-weight: bold;
}
